cmake-build-debug
CMakeFiles
libsplayer_core.a
cmake_install.cmake
Makefile
CMakeCache.txt
CMakeFiles
splayer_core.cbp
splayer_command
splayer_core
splayer_sdl
splayer_engine
splayer_sdl.cbp
.idea/workspace.xml
splayer_sdl/libsplayer_sdl.a
splayer_sdl/splayer_engine/libsplayer_engine.a
splayer_sdl/splayer_engine
.idea